{erl_opts, [debug_info, {src_dirs, ["test/unit",
                                    "test/integration",
                                    "test/system"]}]}.
{lfe_first_files, []}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
   {src_dirs, ["test/unit",
               "test/integration",
               "test/system",
               "src"]}
  ]}.
{deps, [
   {lfe, ".*", {git, "https://github.com/rvirding/lfe.git", "develop"}},
   {'lfe-utils', ".*", {https, "https://github.com/lfe/lfe-utils.git", "master"}},
   {lfeunit, ".*", {git, "https://github.com/lfe/lfeunit.git", "master"}},
   {exemplar, ".*", {git, "https://github.com/lfe/exemplar.git", "master"}},
   {yaws, ".*", {git, "https://github.com/klacke/yaws.git", "master"}},
   {econfig, ".*", {git, "https://github.com/benoitc/econfig.git", "master"}}
  ]}.
